doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title || '장소 검색 서비스'
        link(rel="stylesheet" href='/main.css')
    body 
        form#search-form(method='get')
            span 장소 검색 서비스
            input#search(type="text")
            select#type
                option(value='') 없음
                option(value='cafe') 카페
                option(value='store') 상점
                option(value='bank') 은행
                option(value='school') 학교
            button#search-btn.btn(type="submit") 검색
            button#loc-search-btn.btn(type="button") 주변 검색
            ul#search-list
        block content 
        script. 
            let timer;
            document.querySelector('#search').addEventListener('keyup', (e) => {
                let xhr = new XMLHttpRequest();
                xhr.onreadystatechange = () => {
                    if (xhr.readyState === xhr.DONE) {
                        if (xhr.status === 200) {
                            let predictions = JSON.parse(xhr.responseText);
                            let ul = document.querySelector('#search-list');
                            ul.innerHTML = '';
                            predictions.forEach((pred) => {
                                let li = document.createElement('li');
                                li.textContent = pred.terms[0].value;
                                li.onclick = () => {
                                    location.href = '/search/' + pred.terms[0].value;
                                }
                                ul.appendChild(li);
                            });
                        } else {
                            console.error(xhr.responseText);
                        }
                    }
                };
                let query = document.querySelector('#search').value;
                if (timer) {
                    clearTimeout(timer);
                }
                timer = setTimeout(() => {
                    if (query) {
                        xhr.open('GET', '/autoComplete/' + query);
                        xhr.send();
                    }
                }, 200)
            });
            document.querySelector('#search-form').addEventListener('submit', (e) => {
                e.preventDefault();
                const searchForm = document.querySelector('#search-form');

                if (!searchForm.search.value || !searchForm.search.value.trim()) {
                    searchInput.focus();
                    return false;
                }

                if (searchForm.type.value) {
                    return location.href = `/search/${searchForm.search.value.trim()}?type=${searchForm.type.value}`;
                }

                searchForm.action = '/search/' + searchForm.search.value.trim();
                return searchForm.submit();
            });
            document.querySelector('#loc-search-btn').addEventListener('click', (e) => {
                e.preventDefault();
                if (navigator.geolocation) {    // GPS 를 지원하면
                    // navigator.geolocation.getCurrentPosition(success, error, options);
                    navigator.geolocation.getCurrentPosition((position) => {
                        let search = document.querySelector('#search');
                        let type = document.querySelector('#type').value;
                        if (!search.value || !search.value.trim()) {
                            search.focus();
                            return false;
                        }
                        let lat = position.coords.latitude;
                        let lng = position.coords.longitude;
                        location.href = `/search/${search.value.trim()}?lat=${lat}&lng=${lng}&type=${type}`;
                    }, (err) => {
                        console.error(err);
                        alert('내 위치 확인 권한을 허용하세요');
                    }, {
                        enableHighAccuracy: false,
                        maximumAge: 0,
                        timeout: Infinity
                    });
                } else {
                    alert('GPS를 지원하지 않습니다.');
                }
            });
